
body {margin:0;}
h2 {
  font-family: monospace;
  color: #606060;
  text-align: center;
  
  }
  h4 {
    font-family: monospace;
    color: #606060;
    text-align: center;
  }

  ul {
  list-style: none; 
  color: whitesmoke;
  font-size: x-large;
  
}
li {
  padding: 10px;
}

nav {
  display: block;
  width: 30%;
  margin: 0 auto 10px auto;
}
.one ul {

  background: #88839F;
}

.color {
        
  background: blue;
  border: 2px solid blue;

  


}

input[type=checkbox]:checked + label.strikethrough {
    text-decoration: line-through;

 