
body {
    background:rgb(136, 109, 100);
}
 

.image {
   margin-top: 55px;
   margin-left: auto;
   margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    
    width: 90%;
   
    

   }
   .image2 {
       
        background: white;
        border-radius: 50%;
        height: 5em;
        width: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
      }

      .image3 {
        
         background: blue;
         border-radius: 50%;
      
         height: 5em;
         width: 5em;
      
         display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;

       }
       .image2:hover {
        background:red;
       }
       .image3:hover {
        background:red;
       }
   .text {
    margin-top: 20px;
    margin-left: auto;
   margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 75%;
   
    
   }
   .text2 {
    
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 20px;
    color: #9d9d9d;
    font-weight: 300;
    font-family: "Proxima Nova";
    text-align: center;
    width: 25%; 


   }
   span {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #000000;
    font-family: "Proxima Nova";
    text-align: center; 
   }