
* { transition: all .1s ease-in;}
body {margin:0;
background:#3B3E45 ;
}
h1, h2 {
  font-family: monospace;
   text-align: center;
  color:#E58084;
  
    }
  div {background: #606060;
  padding: 10px;
  }
  
  ul {
  list-style: none; 
  color: whitesmoke;
  font-size: x-large;
  padding-left: 0;


  
}
li {
  padding: 10px ;
  text-align: left;
  display: flex;
  justify-content: left
  margin:6px 10px 0 0;
}

nav {
  display: block;
  width: 50%;
  margin: 0 auto 10px auto;
 
}


.color {
        
  background: #88839F;
  border: 2px solid #88839F;
  }
  .color2 {
        
    background: #7A7593;
    border: 2px solid #7A7593;
      }
    
input[type=checkbox]:checked + label.strikethrough {
    text-decoration: line-through;
}

.color:hover {
  background: #625E77;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
.color2:hover {
  background: #625E77;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
span {
  font-size: medium;
}
footer {
  font-family: monospace;
  text-align: center;
  color:#E58084;
  font-size: 25px;
  margin-top: 25px;
  height: 50px;
  background: #606060;
  display: block;
  width: 50%;
  margin: 0 auto 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;

}
  input{
    
      transform:scale(1.5);
      opacity:0.9;
      cursor:pointer;
      margin:6px 10px 0 0;
     vertical-align:middle;
     
  }  